#dvfooter{
    flex: 1; 
    width: 100%;
}

#footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255); 
    padding: 10px;
}

#fl{
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: space-between;
}
.boxf{
    padding-left: 5px ;
    width: 700px;
}

#center{
    border-left: 2px solid black;
    border-right: 2px solid black;
}