body::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-track {
  background-color: rgb(201, 201, 201); /* Color de fondo */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(145, 145, 145); /* Color del cursor de la barra de desplazamiento */
}

body{
  overflow-y: auto;
  overflow-x: hidden;
}