body{
    justify-content: center;
    background-color: black;
}

#fondo{
    position: relative;
    height: 100vh;
   
    background-size: cover;
}

#si{
   color: rgb(0, 0, 0);
  
   font-size: 500%;
}

#si .text{
   position: relative;
}

#divContacto{
    display: flex;
    margin-top: 12%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro{
    font-family: "Poppins";
    position: relative;
    list-style: none;
    width: 20%;
    padding: 0;
    height: 14%;
    margin-bottom: 0%;
    font-size: 29%;
    text-align: left;
    margin: 0%;
    border-radius: 3px;
}
#divContacto input{
    font-family: "Poppins";
    height: 5vh;
    padding-left: 5px;
    color: rgba(72, 72, 72, 0.61);
    margin-bottom: 2vh;
    margin-top: 0.5vh;
}

#tituloContacto{
    font-size: 45px;
}
                                                                                                   
#botonContacto{
    background-color: #596971;
    border: none;
    border-radius: 4px;
    width: 10vw;
    height: 7.5vh;
    font-family: "poppins";
    font-size: 21px;
    color: white;
    cursor: pointer;
}
