#bodyEjemplo{
    min-height: 100vh;
    width: 100vw;
}
#gridEjemplo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70vh;
    width: 85vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    margin-top: 15vh;
    border: 2px black solid;

}
.imagenEjemplo{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    grid-row-start: 1;
    grid-row-end: -1;
    border-radius: 25px 2px 25px 2px;
    border: 2px solid rgba(0, 0, 0, 0.222);
}
.tablaejempo{
    margin-top: 2%;
    width: 75%;
    margin-left:14%;
    font-size: medium;
}
.tablaejempo tbody{
    font-size: large;
}

.tablaejempo tr{
    border-top: 2px rgb(156, 156, 156) solid;
    border-bottom: 2px rgb(156, 156, 156) solid;
}
.tablaejempo tr:first-child{
    border-top: none;
}

.contenedor-imagen{
    border: 1px solid #CBCBCB;
    height: 60px !important;
    width: 60px !important;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    padding: 0px;
    display: flex;
    float: left;
    background: #fff;
}
#tituloProductoEspecifico{
    
    font-size: 40px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#tituloProductoEspecifico h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px; /* Ajusta este tamaño según lo necesites */
    align-content: center;
}
