body {
  padding: 0;
  margin: 0;
}

#bienvenidos {
  display: grid;
  grid-template-columns: 0.5fr 3fr 6fr 0.5fr;
  height: 100vh;
  width: 100%;
  background-color: #a8a8a8;
  grid-template-rows: 200px;
  margin-top: 5vh;
}

#titulo {
  border: black 1vh solid;
  grid-template-columns: 5px;
  grid-column: 2;
  border: 0;
  margin-top: 9%;
  font-size: 350%;
  color: #ffffff;
}

#texto {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: -200px;
  color: rgb(71, 71, 71);
}

#boton {
  color: #eeeeee;
  background-color: #3d3d3d;
  border-radius: 8px;
  max-width: 26%;
  min-height: 25%;
  margin-top: 5%;
  font-size: large;
  margin-bottom: 4vh;
}

#imagenes {
  grid-column: 1/-2;
  grid-row: 2;
  height: 200px;
  display: flex;
  gap: 3%;
  margin-top: 20px;
  height: 50vh;
}

#imagenes :nth-child(1) {
  position: relative;
  width: 30%;
  height: 100%;
  margin-left: 2vw;
  border-radius: 5px;
}
#imagenes :nth-child(2) {
  position: relative;
  width: 70%;
  height: 100%;
  border-radius: 5px;
}
