#Superior{
    width: 100vw;
    align-items: left;
    margin-top: 10vh;
    color: white;
    background-color: rgb(65, 65, 65);
    height: 30vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#Content1{
    height: 100vh;
    background: linear-gradient(75deg, rgb(1, 104, 10), rgb(46, 46, 46));
    color: rgb(210, 255, 220);
}

#Content2{
    height: 100vh;
    background: linear-gradient(275deg, rgb(252, 192, 30), rgb(255, 255, 255));
    color: rgb(31, 31, 31);
}

.informacion{
    max-width: 50vw;
    padding-top: 20vh;
}
.right{
    float: right;
    max-width: 50vw;
    padding-top: 20vh;
}

#maximus{
    float:  right;
    width: 40vw;
    margin-top: 40vh;
}

#CGamer{
    width: 40vw;
    margin-top: 50vh;
}