body {
  background-color: #ffd6aa;
}

#tituloReporte {
  position: relative;
  font-family: "poppins";
  color: black;
  text-align: center;
  width: 30%;
  padding: 0;
  margin-top: 11vh;
  margin-bottom: 5vh;
  left: 35%;
}

#area-form {
  color: black;
  position: relative;
  background-color: #fff7f9;
  padding: 10px;
  border-radius: 7px;
  width: 60%;
  font-size: 200%;
  align-items: center;
  text-align: center;
  left: 20%;
  height: 70vh;
  border: 2px black solid;
  margin-bottom: 10vh;
}

.inputsReporte {
  padding-left: 10px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 10vh;
  border: solid 0.5px;
  width: 80%;
  border-radius: 1.5px;
}
.inputsReporte2 {
    padding-left: 10px; 
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 25vh;
    border: solid 0.5px;
    width: 80%;
    border-radius: 1.5px;
  }

.botonReporte {
  margin-top: 6vh;
  margin-bottom: 2vh;
  border: solid 0.5px;
  width: 11%;
  border-radius: 1.5px;
}