
body{
    background-color: rgb(237, 229, 229);
    margin-top: 10vh;
    height:max-content;
}
#gridTienda{
    display: grid;
    position: relative;
    width: 70%;
    margin-left: 15%;
    grid-template-columns: repeat(3,1fr);
    top: 1vh;
}
.producto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 0;
    border-radius: 4px;
    height: 50vh;
    margin: 2.1vh 1vh;
    max-width: 1184px;
    padding: 0;
    width: 284px;
    list-style-type: none;
    background-color: white;
}
.productoContenedor{
    border: 0;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    transition: box-shadow .2s ease-in-out;
    width: 100%;
}
.productolink{
    display:block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}
.productoImagen{
    box-sizing: border-box;
    height: 100%;
    justify-content: start;
    padding: 2px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.productoImagen img{
    width: 100%;
    height: 45%;
}
