
body{
    background-color: rgb(236, 229, 229);
    margin-top: 10vh;
    height:max-content;
}
#gridTienda{
    display: grid;
    position: relative;
    gap: 1%;
    min-width: min-content;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns:  repeat(auto-fill,minmax(16rem,1fr));
    top: 1vh;
}
.producto{
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    height: 60vh;
    margin: 2.1vh 1vh;
    padding: 0;
    width: 16rem;
    list-style-type: none;
    background-color: #fff;
    padding-right: 1.5rem;
}
.barrasearch{
    width: 50%;
    margin-left: 25%;
    display: flex;
    padding-top: 2%;
    gap: 2%;
}
.barrasearch button{
    border-color: black;
    color: black;
    font-size: large;
}

.producto:hover::before{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    float:left;
    content: "";
    background-color: rgba(165, 164, 164, 0.156);
    width: 16rem;
    height: 100%;
    cursor: pointer;
}

.productoContenedor{
    border: 0;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    width: 100%;
}
.productolink{
    display:block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: start;
    padding: 2px;
    text-align: center;
}
.productoTexto{
    padding-top: 2%;
    font-family: "Roboto", sans-serif;
    width: 100%;
    text-align: left;
    padding-left:2% ;
}
.productoDescripcion{
    font-size: large;
}
.productoPrecio{
    text-wrap: 2%;
}
.productoImagen{
    text-align: center;
    vertical-align: top;
    height: 70%;
    width: 100%;
}

